
html,body{height: 100%;}
.column {
  float: left;
  width: 60%;
  padding: 10px;
  height: 300px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}